<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <rewrite>
        <rules>
<rule name="rule 1D" stopProcessing="true">
	<match url="^$"  />
	<action type="Rewrite" url="/public/"  />
</rule>
<rule name="rule 2D" stopProcessing="true">
	<match url="(.*)"  />
	<action type="Rewrite" url="/public/{R:1}"  />
</rule>
n type="Rewrite" url="index.php/{R:1}"/>
            </rule>             
        </rules>
    </rewrite>
    <httpErrors>
        <remove statusCode="404" subStatusCode="-1" />                
        <error statusCode="404" path="/somedir/oops404.htm" responseMode="ExecuteURL" />                       
    </httpErrors>      
</system.webServer>