@charset "utf-8";

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

html,body {margin:0;padding:0;height: 100%;background:#eee}
body { font-family: "Nanum Gothic","나눔고딕","Malgun Gothic","맑은 고딕","굴림",gulim,"돋움",Dotum,Arial,Helvetica, sans-serif;color:#333}
label {vertical-align:middle;cursor:pointer}
a img {border:none}
input {vertical-align:middle}
fieldset {border:none}
legend {display:none}
a{color:#666;text-decoration:none;}
a:active {color:red}
a:hover{color:#333;text-decoration:underline;}
a img {border:none}

h1 {font-size :180%}
h2 {font-size :160%}
h3 {font-size :140%}
h4,h5,h6 {font-size : 120%}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* layout */
#mom {clear:both;float:left;width:100%;padding:0}
.sub_main {padding-bottom:30px}
.page-header {margin-top:30px}
.page-header div {border-bottom:1px solid #999;margin-bottom:40px}
.page-header h2 {float:left;margin:0.4em 0;padding:0;font-weight:bold;color:#666}
.page-header nav  {float:right;margin:0}
.page-header nav ol {margin:0;padding-right:0}
.alert-success {clear:both}
#sl_ad {clear:both;margin-bottom:10px}
#sl_tag_cloud .box_content {padding:0}
#tags {float:left;width:100%}
.css1 { font-size: 15px; color:orange}
.css2 { font-size: 20px; color:#333}
.css3 { font-size: 30px; color:blue; }
.css4 { font-size: 45px; color:red;}

/* Common Class */
.arial {font-family:Arial}
.noneData {text-align:center}
.clear{clear:both}
.none{display:none}
.number {font-family:Arial;letter-spacing:0}
.clear{clear:both}
.none{display:none}
.wrapper {margin:0 auto;width:728px}
.ad_test {background:red}
.jumbotron {margin:30px 0}
.sl_categories span.hidden-xs {display:inline!important}
.c_pointer {cursor:pointer}
.card {margin-bottom:15px}

/* header */
header {position:relative}
header h1 {float:left;margin:0.5em 0 0;padding:0}
header h1 a:active {color:red}
header nav { position: relative; z-index: 999; margin:0; padding:0}
header nav a:hover {color:#000}
header nav a:visited {color:#666}
header nav a:active {color:red}

#top-menu {position:absolute;top:10px;right:10px;margin:0;padding:0;list-style:none;z-index:9999}
#top-menu li {float:left;margin:0;padding:0}
#top-menu li a {text-decoration: none;vertical-align: bottom;}
#top-menu li a i {text-align: center;vertical-align: bottom;}

#header-main {
    height:46px;    
    z-index: 1015;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #37474F;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
}

#main-menu a i {
    float: left;
    font-size: 24px;
    margin-right: 10px;
    width: 24px;
    text-align: center;
}

#main-menu .nav-link {
    display: block;
    float: left;
    width: 100%;
    padding: 10px 20px;
    color: #cfd8dc;
    line-height: 26px;
    font-weight: 500;
    font-size:1.2em;
    text-decoration: none;
    vertical-align: bottom;
}

#main-menu .active>.nav-link {color:#fff}
.dropdown-menu {background-color:#37474F}


/* aside */
aside {float:right;width:350px;margin:0}
aside .box {margin-top:0}

footer {position:relative;float:left;width:100%;height:3em;background: #f6f6f6}
footer div {margin:0}
footer address {margin:0.3em;padding:0;line-height:2em;text-align:center}
footer form {position:absolute;top:5px;right:10px}

.section_bottom {text-align:center}

/*.sl_user_form article .innser_section,#sl_order_add article .inner_section,#sl_user_index article  {background:#fff;border-radius:10px;border:1px solid #ccc;margin-bottom:30px;padding:30px} */
/*#sl_order_add article.product {margin-bottom:30px;border-radius:10px;} */
#sl_order_add .section_bottom {margin-top:30px}
#sl_order_add .product {float:left;width:100%;background:#eee;border-radius:5px;padding:20px;margin-bottom:20px}
#sl_order_add .product figcaption {display:block;width:1px;height:1px;text-indent:-9999px}
#sl_order_add .product .product_image {float:left;width:25%}
#sl_order_add .product .product_text {float:right;width:73%}
#sl_order_add .product .product_text h4 {border-bottom:1px solid #ccc;padding:5px 0}
#sl_order_add .product .product_text .product_price {float:right;}
#sl_order_add .product .product_text .product_description {clear:both}
#sl_order_add table caption {width:1px;height:1px;text-indent:-9999px}
#find_zip {margin-left:0;padding-left:0}

.order_form {margin-bottom:3%}



@media (max-width: 991px) {
    header .container {margin:0;padding:0}
    #top-menu nav ul li.nav-item {display:block;width:50%;margin:0;padding:0}
  }
  
  @media (max-width: 575px) {
    #top-menu nav ul li.nav-item {display:block;width:100%;margin:0;padding:0}
    #users .user_sub nav .nav-item {width:31%;text-align:center;margin:0 5px 5px 0}
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    #users .user_sub nav .nav-item {width:24%;text-align:center;margin:0 5px 5px 0}
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #users .user_sub nav .nav-item {width:24%;text-align:center;margin:0 5px 5px 0}
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    header {height:7em}
    #mom {clear:both;float:left;width:100%;padding:0}
    #mom {margin:-7em 0 -3em;min-height:100%}
    #main {padding-top:7em;padding-bottom:3em}
    #sub_main {margin-top:1em;margin-bottom:2em}
    #top-menu nav ul li.nav-item {display:block;width:20%;margin:0;padding:0}
    #top-menu { height: 92px;}
    header .container {margin:0;padding:0}
    .top-menu {
        z-index: 1015;
        position:absolute;
        bottom:0;
        width:100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    }
  
  
    #users .user_sub nav .nav-item {width:24%;text-align:center;margin:0 5px 5px 0}
  }
  
  @media (min-width: 1200px) {
    header {height:7em}
  
    .top-menu {
        z-index: 1015;
        position:absolute;
        bottom:0;
        width:100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    }
  
    #mom {clear:both;float:left;width:100%;padding:0}
    #mom {margin:-7em 0 -3em;min-height:100%}
    #main {padding-top:7em;padding-bottom:3em}
    #sub_main {margin-top:1em;margin-bottom:2em}
    .top-menu { height: 46px;}
    .container {width:1150px;}
  }
  
  @media (min-width: 1400px) {
    .container {width:1350px;}
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
  
    #users .right_a nav .nav-item {width:16%;text-align:center;margin:0 5px 5px 0}
  }
  
  @media (min-width: 1500px) {
    .adsbygoogle {height: 140px}
    .container {width:1450px}
  
    #sub_main {margin-top:1.5em;margin-bottom:2em}
    #counsels aside, #facilities aside {display:block}
    #counsel_add .right_a,#counsel_edit .right_a,#facility_category_add .right_a,#facility_category_edit .right_a {display:block}
    #exercise_category {margin-bottom:10px}
  
    aside #diet-submit-btn, aside #training-submit-btn {display:block;width:100%}
    aside.left-form,.add-page .list,.edit-page .list {display:block}
  
    .visible-xl-block,
    .visible-xl-inline,
    .visible-xl-inline-block,
    .visible-xl {
        display: none !important;
    }
  
      .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
          float: left;
      }
  
      .col-xxl-12 {
          flex: 0 0 100%;
          max-width: 100%;
      }
  
      .col-xxl-11 {
          flex: 0 0 91.66666667%;
          max-width: 91.66666667%;
      }
  
      .col-xxl-10 {
          flex: 0 0 83.33333333%;
          max-width: 83.33333333%;
      }
  
      .col-xxl-9 {
          flex: 0 0 75%;
          max-width: 75%;
      }
  
      .col-xxl-8 {
          flex: 0 0 66.66666667%;
          max-width: 66.66666667%;
      }
  
      .col-xxl-7 {
        flex: 0 0  58.33333333%;
        max-width:  58.33333333%;
      }
  
      .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
  
      .col-xxl-5 {
        flex: 0 0  41.66666667%;
        max-width:  41.66666667%;
      }
  
      .col-xxl-4 {
        flex: 0 0 33.33333333%;
        max-width:  33.33333333%;
      }
  
      .col-xxl-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }
  
      .col-xxl-2 {
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
      }
  
      .col-xxl-1 {
        flex: 0 0 8.33333333%;
        max-width: 8.33333333%;
      }
  
      .col-xxl-pull-12 {
          right: 100%;
      }
  
      .col-xxl-pull-11 {
          right: 91.66666667%;
      }
  
      .col-xxl-pull-10 {
          right: 83.33333333%;
      }
  
      .col-xxl-pull-9 {
          right: 75%;
      }
  
      .col-xxl-pull-8 {
          right: 66.66666667%;
      }
  
      .col-xxl-pull-7 {
          right: 58.33333333%;
      }
  
      .col-xxl-pull-6 {
          right: 50%;
      }
  
      .col-xxl-pull-5 {
          right: 41.66666667%;
      }
  
      .col-xxl-pull-4 {
          right: 33.33333333%;
      }
  
      .col-xxl-pull-3 {
          right: 25%;
      }
  
      .col-xxl-pull-2 {
          right: 16.66666667%;
      }
  
      .col-xxl-pull-1 {
          right: 8.33333333%;
      }
  
      .col-xxl-pull-0 {
          right: auto;
      }
  
      .col-xxl-push-12 {
          left: 100%;
      }
  
      .col-xxl-push-11 {
          left: 91.66666667%;
      }
  
      .col-xxl-push-10 {
          left: 83.33333333%;
      }
  
      .col-xxl-push-9 {
          left: 75%;
      }
  
      .col-xxl-push-8 {
          left: 66.66666667%;
      }
  
      .col-xxl-push-7 {
          left: 58.33333333%;
      }
  
      .col-xxl-push-6 {
          left: 50%;
      }
  
      .col-xxl-push-5 {
          left: 41.66666667%;
      }
  
      .col-xxl-push-4 {
          left: 33.33333333%;
      }
  
      .col-xxl-push-3 {
          left: 25%;
      }
  
      .col-xxl-push-2 {
          left: 16.66666667%;
      }
  
      .col-xxl-push-1 {
          left: 8.33333333%;
      }
  
      .col-xxl-push-0 {
          left: auto;
      }
  
      .col-xxl-offset-12 {
          margin-left: 100%;
      }
  
      .col-xxl-offset-11 {
          margin-left: 91.66666667%;
      }
  
      .col-xxl-offset-10 {
          margin-left: 83.33333333%;
      }
  
      .col-xxl-offset-9 {
          margin-left: 75%;
      }
  
      .col-xxl-offset-8 {
          margin-left: 66.66666667%;
      }
  
      .col-xxl-offset-7 {
          margin-left: 58.33333333%;
      }
  
      .col-xxl-offset-6 {
          margin-left: 50%;
      }
  
      .col-xxl-offset-5 {
          margin-left: 41.66666667%;
      }
  
      .col-xxl-offset-4 {
          margin-left: 33.33333333%;
      }
  
      .col-xxl-offset-3 {
          margin-left: 25%;
      }
  
      .col-xxl-offset-2 {
          margin-left: 16.66666667%;
      }
  
      .col-xxl-offset-1 {
          margin-left: 8.33333333%;
      }
  
      .col-xxl-offset-0 {
          margin-left: 0;
      }
  
      .visible-xxl {
          display: block !important;
      }
  
      table.visible-xxl {
          display: table;
      }
  
      tr.visible-xxl {
          display: table-row !important;
      }
  
      th.visible-xxl, td.visible-xxl {
          display: table-cell !important;
      }
  
      .visible-xxl-block {
          display: block !important;
      }
  
      .visible-xxl-inline {
          display: inline !important;
      }
  
      .visible-xxl-inline-block {
          display: inline-block !important;
      }
  
      .hidden-xxl {
          display: none !important;
      }
  }
  
  @media (min-width: 1650px) {
    .container {width:1600px}
  }
  
  @media (min-width: 1800px) {
    .container {width:1700px}
  }