@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic';
    src: local('☺'),url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/NanumGothic-Regular.woff') format('woff');
}

html,body {margin:0;padding:0;height: 100%;background:#eee}
body { font-family: "Nanum Gothic","나눔고딕","Malgun Gothic","맑은 고딕","굴림",gulim,"돋움",Dotum,Arial,Helvetica, sans-serif;color:#333}
label {vertical-align:middle;cursor:pointer}
a img {border:none}
input {vertical-align:middle}
fieldset {border:none}
legend {display:none}
a{color:#666;text-decoration:none;}
a:active {color:red}
a:hover{color:#333;text-decoration:underline;}
a img {border:none}

h1 {font-size :180%}
h2 {font-size :160%}
h3 {font-size :140%}
h4,h5,h6 {font-size : 120%}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* layout */
footer {clear:both;float:left;width:80%;margin:0 10%;color:#666;text-align: center}
footer div {margin:0.3em 0 0}
#mom {clear:both;float:left;width:100%;padding:0}
.sub_main {float:left;width:100%;margin:0 auto;padding:0 0 30px}
.page-header {float:left;width:100%}
.page-header h2 {float:left;margin:0.7em 0 0;padding:0;font-weight:bold;color:#666}
.page-header .breadcrumb  {float:right;margin:0}
.alert-success {clear:both}
#sl_ad {clear:both;margin-bottom:10px}
#sl_tag_cloud .box_content {padding:0}
#tags {float:left;width:100%}
.css1 { font-size: 15px; color:orange}
.css2 { font-size: 20px; color:#333}
.css3 { font-size: 30px; color:blue; }
.css4 { font-size: 45px; color:red;}

/* Common Class */
.arial {font-family:Arial}
.noneData {text-align:center}
.clear{clear:both}
.none{display:none}
.number {font-family:Arial;letter-spacing:0}
.clear{clear:both}
.none{display:none}
.wrapper {margin:0 auto;width:728px}
.ad_test {background:red}
.jumbotron {margin:30px 0}
.sl_categories span.hidden-xs {display:inline!important}
.c_pointer {cursor:pointer}
.page-header {border-bottom:1px solid #999}

/* header */
header {position:relative}
header h1 {float:left;margin:1.5em 0 0;padding:0}
header h1 a:active {color:red}
header nav { position: relative; z-index: 999; margin:0; padding:0}
header nav ul { float: right; margin: 1.5em 0 0 0; padding: 0}
header nav ul.nav-pills > li + li {margin-left:20px}
header nav a { float: left;display:block;width:100%; color: #333; font-size:1.3em; text-decoration: none}
header nav a:hover {color:#000}
header nav a:visited {color:#666}
header nav a:active {color:red}
header nav ul li ul {position:absolute;display:none}
header #top_menu {position:absolute;right:10px;top:5px;margin:0;padding:0;list-style:none;z-index:9999}
header #top_menu li {float:left;margin:0 15px 0 0;padding:0}

/* aside */
aside {float:right;width:350px;margin:0}
aside .box {margin-top:0}

footer {position:relative}
footer form {position:absolute;top:10px;right:10px}

.section_bottom {text-align:center}

/*.sl_user_form article .innser_section,#sl_order_add article .inner_section,#sl_user_index article  {background:#fff;border-radius:10px;border:1px solid #ccc;margin-bottom:30px;padding:30px} */
/*#sl_order_add article.product {margin-bottom:30px;border-radius:10px;} */
#sl_order_add .section_bottom {margin-top:30px}
#sl_order_add .product {float:left;width:100%;background:#eee;border-radius:5px;padding:20px;margin-bottom:20px}
#sl_order_add .product figcaption {display:block;width:1px;height:1px;text-indent:-9999px}
#sl_order_add .product .product_image {float:left;width:25%}
#sl_order_add .product .product_text {float:right;width:73%}
#sl_order_add .product .product_text h4 {border-bottom:1px solid #ccc;padding:5px 0}
#sl_order_add .product .product_text .product_price {float:right;}
#sl_order_add .product .product_text .product_description {clear:both}
#sl_order_add table caption {width:1px;height:1px;text-indent:-9999px}
#find_zip {margin-left:0;padding-left:0}

.order_form {margin-bottom:3%}



@media all and (max-width: 768px) {
	html,body {background:#ccc}
	header {background:none;border-bottom:0;margin:1% 0}
	header h1 {margin:2%;padding:0;font-size:1.6em}
	header h1 a {float:left;background:none;text-indent:0;width:100%;font-weight:bold}
	header h1 a:hover {text-decoration:none}
	header h1 a:active {color:red}
	header nav.container {width:100%;margin:0;padding:0}
	header nav ul {width:100%;margin:2% 0 0;padding:0;background:#fff;border-radius:5px}
	header nav ul li,header ul li a {clear:both;float:left;width:100%;text-align:left}
	header nav ul.nav-pills > li + li {margin-left:0}
	header nav ul li {margin:0;padding:0}
	header nav ul li a {display:block;border-bottom:1px solid #f3f3f3;text-indent:1em;padding:10px;border-radius:5px}
	header nav ul li a:hover {text-decoration:none;background:#eee}
	header nav ul li a:active {color:red}
	header nav ul li a .glyphicon {margin-right:1em}
	.nav-pills > li + li {margin:0}
	#mom {float:left;clear:both;width:100%;margin:0}
	#main {float:left;margin:0;padding:0;width:100%;padding:3%;border-radius:5px;background:#fff;}
	.sub_main {clear:both;width:100%}
	.sl_user_form article .innser_section,#sl_order_add article .inner_section,#sl_user_index article {padding:1%;margin-bottom:1%;border:none}
	#main_main article ul {margin:0;padding:0;list-style:none}
	header nav ul a:hover {color:#000}
	header nav ul a:active {color:red}
	.page-header {float:left;margin:0 0 10px}
	#sl_intro_index #sl_intro_right, #sl_gallery_index #sl_gallery_right {width:100%;margin:0}
	#sl_intro_index #sl_intro_left {width:100%}
	footer {background:#fff;border-radius:5px;width:100%;margin:1% 0}
}

@media all and (min-width: 768px) and (max-width: 991px) {
	header {height:8em;background:#f8f8f8;border-bottom:1px solid #e7e7e7}
	header nav ul li:first-child {margin-left:0}
	footer {height:5em;border-top:1px solid #e7e7e7}
	#mom {margin:-8em 0 -5em;min-height:100%}
	#main {padding-top:6em;padding-bottom:5em}
}

@media all and (min-width: 992px) {
  html,body {font-size:14px}
  header {height:6em;background:#f8f8f8;border-bottom:1px solid #e7e7e7}
	footer {height:5em;border-top:1px solid #e7e7e7}
	#mom {margin:-6em 0 -5em;min-height:100%}
	#main {padding-top:6em;padding-bottom:5em}
}

@media all and (min-width: 992px) and (max-width: 1199px) {
}

@media all and (min-width: 1200px) {
  html,body {font-size:16px}
	header {height:6em;background:#f8f8f8;border-bottom:1px solid #e7e7e7}
  aside .box {margin-top:0}
	footer {height:5em;border-top:1px solid #e7e7e7}
	#mom {margin:-6em 0 -5em;min-height:100%}
	#main {padding-top:6em;padding-bottom:5em}
	.adsbygoogle {height: 100px}

  .sl_gallery ol.nav-tabs {margin-bottom:20px}

	/* tag */
	.sl_content_tags h4 {float:left;margin:0 5px;padding:0;line-height:150%}
	.sl_content_tags h4:after {content:' :'}
	.sl_content_tags ul {float:left;margin:0;padding:0}
	.sl_content_tags ul li {float:left;margin:0 0 0 5px;padding:0;list-style:none;line-height:150%}
	.sl_content_tags ul li:after {content:','}
	.sl_content_tags ul li:last-child:after {content:none}
}

@media (min-width: 1201px) and (max-width: 1499px) {
  .adsbygoogle {height: 110px}
}

@media (min-width: 1500px) {
  html,body {font-size:18px}
  .adsbygoogle {height: 140px}
  .container {width:1500px}
  .jumbotron {text-align: center}

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333333%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333333%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }

    .col-xl-pull-12 {
        right: 100%;
    }

    .col-xl-pull-11 {
        right: 91.66666667%;
    }

    .col-xl-pull-10 {
        right: 83.33333333%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-8 {
        right: 66.66666667%;
    }

    .col-xl-pull-7 {
        right: 58.33333333%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-5 {
        right: 41.66666667%;
    }

    .col-xl-pull-4 {
        right: 33.33333333%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-2 {
        right: 16.66666667%;
    }

    .col-xl-pull-1 {
        right: 8.33333333%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-push-12 {
        left: 100%;
    }

    .col-xl-push-11 {
        left: 91.66666667%;
    }

    .col-xl-push-10 {
        left: 83.33333333%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-8 {
        left: 66.66666667%;
    }

    .col-xl-push-7 {
        left: 58.33333333%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-5 {
        left: 41.66666667%;
    }

    .col-xl-push-4 {
        left: 33.33333333%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-2 {
        left: 16.66666667%;
    }

    .col-xl-push-1 {
        left: 8.33333333%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-offset-12 {
        margin-left: 100%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }

    .visible-xl {
        display: block !important;
    }

    table.visible-xl {
        display: table;
    }

    tr.visible-xl {
        display: table-row !important;
    }

    th.visible-xl, td.visible-xl {
        display: table-cell !important;
    }

    .visible-xl-block {
        display: block !important;
    }

    .visible-xl-inline {
        display: inline !important;
    }

    .visible-xl-inline-block {
        display: inline-block !important;
    }

    .hidden-xl {
        display: none !important;
    }
}
