<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <staticContent>
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>    
        <rewrite>
            <rules>
                <rule name="Rewrite routed access to assets(img, css, files, js, favicon)" stopProcessing="true">
                    <match url="^(images|css|fonts|files|js|uploads|favicon.ico)(.*)$" />
                    <action type="Rewrite" url="/{R:1}{R:2}" appendQueryString="false" />
                </rule>            
<rule name="rule 1Z" stopProcessing="true">
	<match url="^" />
	<action type="Rewrite" url="/index.php" />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>